page-home {
    .map-canvas {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    button {
        width: 90%;
        margin-bottom: 5% !important;
    }
    #profile-icon {
        margin: 10px;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        position: absolute;
        top: 2%;
        left: 0;
    }
}
